{% extends 'basic/base.html' %}
{% load static %}

{% block head %}
    <title>社区-letcode</title>
    <link rel="stylesheet" href="/static/css/doubt.css">
{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    <div class="discuss-headers">综合讨论</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <ul class="nav nav-pills">
                  <li role="presentation" class="active"><a href="#">最新</a></li>
                  <li role="presentation"><a href="#">最热</a></li>
                </ul>
              </div>
              <div class="doubt-list">
                  <ul class="list-group">
                      <li class="list-group-item">
                          <div class="row">
                              <div class="col-md-1">
                                <img class="doubt-mugshot" src="/static/upload/mugshots/default.jpg">
                              </div>
                              <div class="col-md-9 doubt-synopsis">
                                <h4>参加竞赛怎样才能在自己名字后面显示国旗啊？</h4>
                                  <span>茶未凉</span>
                                  <span>2018.12.13.12.12</span>
                              </div>
                              <div class="col-md-2">
                                <a href="#" class="btn btn-primary comment-num-btn">25/2</a>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
        <div class="create-doubt">
            <a class="btn btn-primary btn-public-doubt">发新帖</a>
        </div>
    </div>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}