{% extends 'basic/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/ct-group.css">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="tip">
                <p class="tip-title">温馨提示：</p>
                <ol>
                    <li class="tip-content">保证邮箱的正确性</li>
                    <li class="tip-content">必须先激活邮箱才能成功创建队伍</li>
                </ol>
                <br>
                <br>
            </div>

            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">团队名字</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="团队名字">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">个人邮箱</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="个人邮箱">
              </div>
{#                name = introduce#}
              <div class="form-group">
                <label for="exampleInputFile">队伍的描述</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="队伍的描述">
              </div>
{#              <div class="form-group">#}
{#                <label for="exampleInputFile">队员2</label>#}
{#                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="队员2">#}
{#              </div>#}
              <button type="submit" class="btn btn-default">创建</button>
            </form>
        </div>
        <div class="col-md-4"></div>

    </div>
{% endblock %}