{% extends 'basic/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ct-index.css' %}">
{% endblock %}
{% block main %}
<div class="jumbotron">
    <h1>LetCode</h1>
    <p>在letcode， 参加letcode模拟竞赛，以期在未来的世界舞台绽放光彩！！！</p>
{#  <div class="profile-top container">#}
{#  </div>#}
</div>
<div class="row contest-dis">
    <div class="col-md-3"></div>
    <div class="col-md-4 contest-module">
        <div class="real-con-mo">
            {% if last_contest %}
                <h2 class="contest-module-title">参加这场{{ hours }}小时{{ minutes }}分钟的比赛</h2>
                <h3>{{ last_contest.contest_name }}</h3>
                <span>{{ last_contest.start_time }}
                    ~
                    {{ last_contest.end_time }}</span>
            {% else %}
                <p class="contest-tip">暂时没有比赛哦</p>
                <h2 class="contest-module-title">去模拟往期竞赛吧</h2>
            {% endif %}
        </div>
    </div>
    <div class="col-md-2 vir-ct-mod">
        <a class="vir-ct-link">
            <span>随机开始一场</span>
            <h3 class="vir-test-te" href="javascript:void(0);">模拟竞赛</h3>
        </a>
        <a class="vir-ct-his" href="javascript:void(0);"><p class="ct-his-des">查看往期竞赛历史</p></a>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row con-res-mod">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <h1>Conan排名</h1>
                </div>
                <div class="top-three">
                    <div class="winner top-1">
                        <div class="simple-avatar__1nLM">
                            <img class="" src="" alt="liouzhou_101">
                        </div>
                        <div class="name-tag">
                        <div class="content">liouzhou_101</div>
                        </div>
                    </div>
                    <div class="winner top-1">
                        <div class="simple-avatar__1nLM">
                            <img class="" src="" alt="liouzhou_101">
                        </div>
                        <div class="name-tag">
                        <div class="content">liouzhou_101</div>
                        </div>
                    </div>
                                        <div class="winner top-1">
                        <div class="simple-avatar__1nLM">
                            <img class="" src="" alt="liouzhou_101">
                        </div>
                        <div class="name-tag">
                        <div class="content">liouzhou_101</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 pre-ct-lt-pl">
                <div class="pre-ct-lt-h">
                    <p class="pre-ct-lt-des">参加模拟赛</p>
                    <p class="pre-ct-lt-des">为了未来更好的准备</p>
                    <div class="pre-ct-lt-tl">竞赛回顾</div>
                </div>
                <div class="pre-ct-lt-ctr">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>往期竞赛</th>
                                <th>竞赛时长</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pre=ct-li-item">
                                <td>
                                    <div class="pre-ct-title">
                                        第111场比赛
                                    </div>
                                    <div class="pre-ct-time">
                                        2018-12-11,11:11
                                    </div>
                                </td>
                                <td>
                                   <div class="pre-ct-item-right">
                                       一小时30分
                                       <button class="btn btn-default virtual-btn">
                                           虚拟
                                       </button>
                                   </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}

{% block bottom %}
    <script src="{% static 'js/contests.js' %}"></script>
{% endblock %}