*{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.real-con-mo{
    background: #2d8cf0;
    padding: 20px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    margin-right: 10%;
}
body{
    background: #f8f8f9;
}
.contest-module-title{
    color: #FBFBFB;
}
.contest-tip{
    font-size: 16px;
    color: #CCCCCC;
}
.random-contest{
    width: 100%;

}
.vir-ct-mod{
    background: #FFF;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
}
.vir-ct-link{
    height: 70%;
    display: block;
}
.vir-test-te{
    color: #2d8cf0;
}
.vir-ct-his{
    display: block;
    height: 30%;
    margin: 20px 5px 5px;
    border-top: 1px solid #c0c0c0;
    text-align: center;
}
.ct-his-des{
    color: #aaaaaa;
    font-size: 16px;
    margin-top: 8px;
}
.pre-ct-lt-pl{
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
}
.pre-ct-lt-h{
    padding: 20px;
    height: 120px;
}
.pre-ct-lg-des{
    color: #afafaf;
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
.pre-ct-lt-tl{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}
.pre-ct-title{
    color: #373737;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}
.pre-ct-time{
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.pre-ct-item-right{
    margin-top: 12px;
    margin-right: 0;
    height: 25px;
    line-height: 25px;
}
.virtual-btn{
    border: none;
    background: #2d8cf0;
    color: white;
    float: right;
    height: 25px;
    font-size: 14px;
}