*{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.real-con-mo{
    background: #2d8cf0;
    padding: 20px;
    width: 90%;
    height: 200px;
    border-radius: 15px;
    margin-right: 10%;
}
body{
    background: #f8f8f9;
    margin: 0;
}
.contest-module-title{
    color: #FFFFFF;
}
.contest-tip{
    color: #FBFBFB;
    font-size: 18px;
    margin-top: 0;

}
.random-contest{
    width: 100%;

}
.vir-ct-mod{
    background: #FFF;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
}
.vir-ct-link{
    height: 70%;
    display: block;
}
.vir-test-te{
    color: #2d8cf0;
}
.vir-ct-his{
    display: block;
    height: 30%;
    margin: 20px 5px 5px;
    border-top: 1px solid #c0c0c0;
    text-align: center;
}
.ct-his-des{
    color: #aaaaaa;
    font-size: 16px;
    margin-top: 8px;
}
.pre-ct-lt-pl{
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
}
.pre-ct-lt-h{
    padding: 20px;
    height: 120px;
}
.pre-ct-lg-des{
    color: #afafaf;
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
.pre-ct-lt-tl{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}
.pre-ct-title{
    color: #373737;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
}
.pre-ct-time{
    color: grey;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}
.pre-ct-item-right{
    margin-top: 12px;
    margin-right: 0;
    height: 25px;
    line-height: 25px;
}
.virtual-btn{
    padding: 3px;
    border: none;
    background: #2d8cf0;
    color: white;
    float: right;
    height: 25px;
    font-size: 14px;
}
.top-1{
    width: 34.2%;
    padding: 0;
    margin: 0 31.9%;
}
.top-1 img{
    border: solid 5px #eece52;
}
.top-2{
    width: 77%;
    padding: 0;
    margin: 0 12.5%;
}
.top-2 img{
    border: 5px solid #d8d8d8;
}
.top-3{
    width: 77%;
    padding: 0;
    margin: 0 12.5%;
}
 .top-3 img{
    border: solid 5px #e8a472;
}
.winner-mugs{
    width: 100%;
    border-radius: 50%;
    text-align: center;
    background: rgba(255,255,255,0.4);
    color: #373737;
    font-size: 40px;
    opacity: .75;
}
.content{
    padding: 2px 5px;
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: pre;
    margin: auto;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
    opacity: .9;
}
.name-tag{
    margin-top: -24px;
}
.ranking-four-last-ctr{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background: #00a9ff;
}