.profile-top-bg{
    /*height: 400px;*/
    /*width: 100%;*/
    /*background-color: #333333;*/
    margin-top: -50px;
}
.profile-top{
    margin-left: 0;
    margin-right: 0;
}
.profile-nav{
    border: 0;
    margin: 10px 0;
}
.profile-nav-panel{
    margin-top: -40px;
    margin-bottom: 100px;
}
.profile-panel{
    margin-top: -80px;
    box-shadow:0 0 1px 1px #eee;
    background-color: #fff;
}
.profile-panel-header{
    /*margin: 0;*/
    background-color: #fff;
    font-weight: bold;
}
.profile-row{
    margin-left: 10px;
    margin-right: 20px;
    /*border-top: 0;*/
    /*border: 0 solid transparent !important;*/
}