<table class="table table-hover table-bordered">
        <tr>
            <td><b>#</b></td>
            <td><b>提交时间</b></td>
            <td><b>状态</b></td>
            <td><b>时间消耗</b></td>
            <td><b>内存消耗</b></td>
            <td><b>语言</b></td>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ record.created_time }}</td>
                <td><a href="/problems/submissions/detail/{{ record.id }}/">{{ record.result }}</a></td>
                {% if records.cost_tome == -1 %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ record.cost_time }}ms</td>
                {% endif %}
                {% if records.cost_memory == -1 %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ record.cost_memory }}k</td>
                {% endif %}
                <td>{{ record.language }}</td>
            </tr>
        {% endfor %}
</table>