<div class="panel-body">
    <form role="form" class="comment-form" action="">{% csrf_token %}
      <div class="form-group">
        <textarea class="form-control comment-editor" rows="5"></textarea>
        <button class="btn btn-primary submit-comment" data-type="master" type="button">评论</button>
    </div>
    </form>
</div>
<div class="comment">
    {% for comment in comments %}
        <div class="singer-comment-container" id="{{ comment.id }}" data-parent-comment-id="{{ comment.id }}" data-star="{{ comment.star }}" data-replied-id="{{ comment.author.id }}" >
            <div class="row">
                <div class="col-md-12">
                    <img class="comment-mugshot" src="{{ comment.author.mugshot }}">
                    <p class="comment-username">{{ comment.author.username }}</p>
                    <p class="comment-created-time">{{ comment.created_time }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="comment-body">{{ comment.content }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:void(0);" class="problem-comment-star">点赞:{{ comment.star }}</a>
                    <a href="javascript:void(0);" style="padding-left: 10px" class="reply-cls-btn" data-parent-comment-id="">回复</a>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 reply-input-container-{{ comment.id }}">
                </div>
            </div>
            <div class="children-comments">
                {% for c in comment.children_comments.all %}
                    <div class="singer-comment-container" id="{{ c.id }}" data-parent-comment-id="{{ comment.id }}" data-star="{{ comment.star }}" data-replied-id="{{ comment.author.id }}" >
                        <div class="children-ctr">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="comment-mugshot" src="{{ c.author.mugshot }}">
                                    <span class="comment-username">{{ c.author.username }}&nbsp;回复</span>
                                    <span class="comment-username">{{ c.reply.username }}</span>
                                    <p class="comment-created-time">{{ c.created_time }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="comment-body">{{ c.content }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="problem-comment-btn">点赞:<span class="problem-star-{{ c.id }}">{{ c.star }}</span></a>
                                    <a href="javascript:void(0);" style="padding-left: 10px" class="reply-cls-btn" data-parent-comment-id="">回复</a>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 reply-input-container-{{ c.id }}">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>