{% extends 'basic/base.html' %}
{% load static %}

{% block head %}
    <title>{{ problem.title }}</title>
    <link rel="stylesheet" href="/static/css/problem_detail.css">
{% endblock %}
{% block main %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
{#    <div>#}
{#      <nav class="navbar navbar-default">#}
{#        <div class="container-fluid">#}
{#          <div class="navbar-header">#}
{#            <h1 class="navbar-brand" href="#">#}
{#                {{ problem.id }}.{{ problem.title }}#}
{#            </h1>#}
{#          </div>#}
{#        </div>#}
{#      </nav>#}
{#    </div>#}

    <div class="page-header">
        <h1>{{ problem.id }}.{{ problem.title }}</h1>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">问题描述</a></li>
        <li role="presentation"><a href="#">解决方案</a></li>
        <li role="presentation"><a href="#">问题讨论</a></li>
        <li role="presentation"><a href="#">提交记录</a></li>
      </ul>
    </div>
    <div class="problem-description">
        <div class="panel panel-info">
          <div class="panel-heading">问题描述</div>
          <div class="panel-body">
            {{ problem.content }}
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">输入</h3>
          </div>
          <div class="panel-body">
            {{ problem.in_description }}
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">输出</h3>
          </div>
          <div class="panel-body">
            {{ problem.out_description }}
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">输入样例</h3>
          </div>
          <div class="panel-body">
            <pre>{{ problem.in_case }}</pre>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">输出样例</h3>
          </div>
          <div class="panel-body">
            <pre>{{ problem.out_case }}</pre>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">提示</h3>
          </div>
          <div class="panel-body">
            {{ problem.tip }}
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">来源</h3>
          </div>
          <div class="panel-body">
            {{ problem.source }}
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title code-header">Code</h3>
              <div class="dropdown code-language">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Dropdown
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
          </div>
          <div class="panel-body">
            <form role="form" class="code-form" action="/problem/answer">{% csrf_token %}
              <div class="form-group">
                <textarea data-problemId="{{ problem.id }}" class="form-control code-editor" rows="25"></textarea>
                <button class="btn btn-primary code-submit" type="button">提交</button>
            </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-2">.col-md-8</div>
  <div class="col-md-1"></div>
</div>

{% block bottom %}
    <script src="https://www.imooc.com/static/lib/jquery/1.9.1/jquery.js"></script>
    <script src="{% static 'js/problems.js' %}"></script>
{% endblock %}
{% endblock %}